footer{
	background: $header;
	text-align: center;
	padding: 2em 0;
	h3{
		font-family: $fontLucida;
		color: $blanco;
		text-transform: uppercase;
		margin: 0;
	}
	h4{
		color: $blanco;
		margin: 1em 0 0 0;
	}
	ul{
		margin: 1em 0 0 0;
		padding: 0;
		list-style-type: none;
		li{
			display: inline-block;
			border: solid 1px $blanco;
			margin: 1em;
			@include active-state{
				border: solid 1px $link;
			}
			a{
				color : $blanco;
				padding: 1.5em 1em;
				text-decoration: none;
			}
		}
	}
}